/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

    #header nav .navbar-brand {
        color: #fff;
        margin-right: 10px !important;
    }

    #header .dropdown-menu {
        min-width: 200px;
    }

        #header .dropdown-menu.icon-action .card {
            border: none;
            min-width: 400px;
        }

    #header nav .dropdown-menu:before {
        position: absolute;
        top: -7px;
        right: 9px;
        display: inline-block;
        border-right: 7px solid transparent;
        border-bottom: 7px solid #ccc;
        border-left: 7px solid transparent;
        border-bottom-color: rgba(0, 0, 0, 0.2);
        content: '';
    }

    #header nav .dropdown-menu:after {
        position: absolute;
        top: -6px;
        right: 10px;
        display: inline-block;
        border-right: 6px solid transparent;
        border-bottom: 6px solid #ffffff;
        border-left: 6px solid transparent;
        content: '';
    }

    #sidebar-wrapper {
        z-index: 1000;
        position: fixed;
        left: 250px;
        width: 60px;
        height: 100%;
        margin-left: -250px;
        overflow-y: auto;
        background: #191918;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }

        #wrapper.toggled #sidebar-wrapper {
            width: 250px;
        }

        #wrapper #sidebar-toggle {
            border-top: 1px solid #353434;
            color: #5e5e5e;
            width: 100%;
            font-size: 1.1rem;
            text-align: center;
        }

        #wrapper #sidebar-toggle .collapse {
            display: none;
        }

        #wrapper.toggled #sidebar-toggle .collapse {
            display: block;
        }

        #wrapper.toggled #sidebar-toggle .expand {
            display: none;
        }

        #wrapper #sidebar-toggle .expand {
            display: block;
        }

        #wrapper #sidebar-toggle img {
            height: 22px;
            /*vertical-align: middle;
            position: absolute;
            right: 10px;*/
        }

            #wrapper #sidebar-toggle .expand img {
                /*margin-right: 0px;
                margin-left: 10px;*/
            }

        #wrapper #sidebar-toggle:hover {
            /*color: #fff;*/
        }

    #page-content-wrapper {
        width: 100%;
        position: absolute;
        padding: 20px;
        padding-left: 75px;
    }

    #wrapper.toggled #page-content-wrapper {
        position: absolute;
        margin-right: -270px;
        padding-right: 270px;
        padding-left: 15px;
    }

    #wrapper.overflow #page-content-wrapper {
        position: absolute;
        margin-right: 0px;
        padding-right: 0px;
        padding-right: 20px;
        padding-left: 75px;
    }

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }
