/*  ==========================================================================
    CUSTOM CSS
    8px = 0.5714rem
    10px = 0.7143rem
    12px = 0.8571rem
    14px = 1rem (base)
    15px = 1.071rem
    16px = 1.143rem
    18px = 1.286rem
    20px = 1.429rem
    22px = 1.571rem
    24px = 1.714rem
    26px = 1.857rem
    28px = 2rem
    30px = 2.143rem
    32px = 2.286rem
    34px = 2.429rem
    36px = 2.571rem
    38px = 2.714rem
    40px = 2.857rem
    42px = 3rem
    44px = 3.143rem
    46px = 3.286rem
    48px = 3.429rem
    50px = 3.571rem
    ========================================================================== */
:root {
    font-size: 0.8071rem;
}

body, html { height: 100%; }

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #3e3e3e;
    background-color: #e8e8e8;
    overflow-x: hidden;
}

* a {
    color: #3c7fb4;
    transition-duration: .25s;
    text-decoration: none!important;
}

* a:hover, * a:focus {
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 1em;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  /*outline: 1px solid slategrey;*/
}

/**
 | --------------------------------------------------------------------------
 | Header
 | --------------------------------------------------------------------------
 */
#header {
    height: 62px;
}

    #header nav {
        height: 100%;
    }

        #header .navbar-dark .navbar-toggler {
            color: rgba(243, 238, 238, 1);
            border-color: rgba(255,255,255,.3);
        }

        #header .navbar-dark .navbar-collapse {
            background-color: #3c7fb4;
        }

    #header nav.bg-adzbuzz {
        background-color: #3c7fb4 !important;
    }

    #header nav.navbar-adzbuzz .navbar-nav .nav-link {
        color: #dedcdc;
    }
        #header nav.navbar-adzbuzz .navbar-nav.products .nav-link {
            font-weight: bold;
        }

        #header nav.navbar-adzbuzz .navbar-nav .nav-link .badge {
            margin-left: -14px;
            position: relative;
            top: -10px;
            display: inline-block;
        }

        #header nav.navbar-adzbuzz .navbar-nav .nav-item.active .nav-link {
            color: #fff;
        }

        #header nav.navbar-adzbuzz .navbar-nav .nav-link:hover {
            color: #fff;
        }

    #header nav .navbar-brand {
        color: #fff;
    }

    #header .dropdown-menu {
        margin-top: 3px;
        -webkit-box-shadow: 1px 1px 4px 0px rgba(50, 50, 50, 0.29);
        -moz-box-shadow:    1px 1px 4px 0px rgba(50, 50, 50, 0.29);
        box-shadow:         1px 1px 4px 0px rgba(50, 50, 50, 0.29);
        border-radius: 0px 0px 0px 0px;
    }

        #header .dropdown-menu.icon-action {
            margin-top: 10px;
            padding: 0px;
        }

            #header .dropdown-menu.icon-action .card {
                border: none;
            }

                #header .dropdown-menu.icon-action .card .card-header {
                    padding: .45rem 1.25rem;
                    color: #7c7d7d;
                }

                #header .dropdown-menu.icon-action .card .card-footer {
                    padding: .45rem 1.25rem;
                    color: #7c7d7d;
                }

                #header .dropdown-menu.icon-action .card .card-body {
                    padding: 0rem;
                    max-height: 300px;
                    overflow-y: auto;
                }

                #header .dropdown-menu.icon-action .card .card-body .list-group-item {
                    border: none;
                    border-top: 1px solid rgba(0,0,0,.125);
                    border-radius: none !important;
                }

                #header .dropdown-menu.icon-action .card .card-body .list-group-item.unread {
                    background-color: #f1efef;
                }

                #header .dropdown-menu.icon-action .card .card-body .list-group-item:first-child {
                    border: none;
                    border-top-left-radius: .25rem;
                    border-top-right-radius: .25rem;
                }


    #header nav .dropdown-menu .dropdown-item {
        font-size: 1.1rem;
    }

    #header .search-field {
        background: #528ec2 url('../images/search_icon.png') no-repeat scroll right center;
        border-color: #528ec2;
    }

        #header .search-field::placeholder {
            color: #a7bee4;
        }

        #header .search-field:focus {
            background-color: #fff;
            border-color: #528ec2;
            color: #3c7fb4;
            box-shadow: none;
        }

    #header .main-dropdown .fa {
        color: #212529 !important;
        font-size: 1.143rem;
    }

    #header .fa {
        color: #dedcdc;
        font-size: 1.143rem;
    }

    #header .fa:hover {
        color: #fff;
    }

        #header .dropdown.show .fa {
            color: #fff;
        }

    #header nav .dropdown-toggle::after {
        display:none
    }

    #header .user-holder {

    }

    #header .user-holder-link img {
        width: 20px;
        margin-left: -3px;
    }

    #header .user-holder.no-image {
        padding: 8px;
        background-color: #ccc;
        border: 1px solid #65717b;
        text-align: center;
        width: 38px;
        height: 38px;
        display: inline-block;
        color: #797777;
    }

    #header .user-holder.with-image img {
        width: 34px;
        height: 34px;
    }

    #header .item-left{
        float:left;
    }

        #header .item-left img {
            width: 50px;
        }

        #header .item-left img,
        #header .item-left span.item-info {
            float:left;
        }

        #header .item-left span.item-info {
            margin-left:10px;
        }

            #header .item-left span.item-info span {
                display:block;
            }

            #header .item-left span.item-info span.message {
                font-size: 1.1rem;
            }

            #header .item-left span.item-info span.time {
                font-size: 0.8;
            }

/**
 | --------------------------------------------------------------------------
 | Buttons
 | --------------------------------------------------------------------------
 */

.btn-share {
    color: #c7d7f1;
    background-color: #528ec2;
    border-color: #528ec2;
    border-radius: 1.5rem;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: bold;
}

    .btn-share:hover {
        background-color: #4aaae6;
        border-color: #4aaae6;
        color: #fff;
    }

.btn-profile {
    color: #c7d7f1;
    background-color: #191918;
    border-color: #191918;
    border-radius: none;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: bold;
}

/**
 | --------------------------------------------------------------------------
 | Content
 | --------------------------------------------------------------------------
 */

#main-content-container {
    margin-top: 62px;
}

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#wrapper.right-toggled {
    margin-left: -268px;
}

#wrapper.overflow {
    padding-left: 0px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0px;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #191918;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#right-sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    right: 250px;
    width: 0px;
    height: 100%;
    margin-right: -250px;
    overflow-y: auto;
    background: #191918;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

    #wrapper.toggled #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.right-toggled #right-sidebar-wrapper {
        width: 250px;
    }

    #wrapper #sidebar-toggle {
        border-top: 1px solid #353434;
        color: #5e5e5e;
        width: 250px;
        font-size: 1.1rem;
        text-align: center;
        position: absolute;
        bottom: 48px;
        cursor: pointer;
        z-index: 9999;
        background-color: #191918;
    }

        #wrapper.toggled #sidebar-toggle {
            bottom: 62px;
        }

    #wrapper #sidebar-toggle .collapse {
        display: none;
    }

    #wrapper.toggled #sidebar-toggle .collapse {
        display: block;
    }

    #wrapper.toggled #sidebar-toggle .expand {
        display: none;
    }

    #wrapper #sidebar-toggle .expand {
        display: block;
    }

    #wrapper #sidebar-toggle img {
        height: 22px;
    }

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
}

#wrapper.overflow #page-content-wrapper {
    margin-right: 0px;
}

    #wrapper .sidebar-nav li a.nav-trigger strong {
        display: none;
    }

    #wrapper.toggled .sidebar-nav li a.nav-trigger strong {
        display: inline-block;
    }

    #wrapper .sidebar-nav li.active .sidebar-menu-items {
        display: none;
    }

    #wrapper.toggled .sidebar-nav li.active .sidebar-menu-items {
        display: block;
        padding-left: 20px;
    }

.content-mask {
    position: fixed;
    background-color: rgba(0,0,0, .3);
    height: 100vh;
    width: 100%;
    display: none;
}

.body-mask {
    height: 100%;
    overflow: hidden;
}

/**
 | --------------------------------------------------------------------------
 | Sidebar Left
 | --------------------------------------------------------------------------
 */
li.spacer {
    height: 100px;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 10px;
    max-height: 86.6vh;
    overflow-y: auto;
}

    .sidebar-nav li {
        text-indent: 20px;
        line-height: 40px;
        border-left: 3px solid #191918;
    }

        .sidebar-nav li .sidebar-menu-items {
            display: none;
            max-height: 0px;
            -webkit-transition: max-height 0.7s ease-in;
            -moz-transition: max-height 0.7s ease-in;
            -o-transition: max-height 0.7s ease-in;
            transition: max-height 0.7s ease-in;
            padding-bottom: 10px;
        }

            .sidebar-nav li.active .sidebar-menu-items {
                max-height: 200px;
            }

            .sidebar-nav li.always-open .sidebar-menu-items {
                max-height: 200px;
                padding-left: 20px;
            }

        .sidebar-nav li.active {
            background-color: #151514;
            border-left: 3px solid #3c7eb4;
        }

        .sidebar-nav li.always-open {
            background-color: #151514;
            border-left: 3px solid #151514 !important;
        }

        .sidebar-nav li.always-open {
            background-color: #151514;
            border-left: 3px solid #3c7eb4;
        }

            .sidebar-nav li .sidebar-menu-items a.dropdown-item {
                margin: 0px;
                padding: 0px 0px 0px 24px;
                line-height: 2.5rem;
                background-color: #151514;
                color: #999999;
            }

            #wrapper.toggled .sidebar-nav li.always-open .sidebar-menu-items {
                display: block;
            }

        .sidebar-nav li a.nav-trigger {
            color: #979595;
            font-size: 1rem;
        }

            .sidebar-nav li a.nav-trigger:hover {
                color: #fff;
                cursor: pointer;
            }

            .sidebar-nav li.active a.nav-trigger {
                color: #fff;
            }

            .sidebar-nav li.always-open a.nav-trigger {
                color: #fff;
            }

            .sidebar-nav li a.nav-trigger .fa {
                margin: 0;
                padding: 0;
                margin-right: 20px;
                margin-left: -20px;
                font-size: 1.2rem;
            }

            .sidebar-nav li.active a.nav-trigger .fa {
                /*margin: 0;
                margin-right: 30px;*/
            }

        .sidebar-nav li a {
            display: block;
            text-decoration: none;
            color: #999999;
        }

        .sidebar-nav li a:hover {
            text-decoration: none;
            color: #fff;
            background: #191918;
        }

            .sidebar-nav li.active a:hover {
                text-decoration: none;
                color: #fff;
                background: #151514;
            }

            .sidebar-nav li.always-open a:hover {
                text-decoration: none;
                color: #fff;
                background: #151514;
            }

        .sidebar-nav li a:active,
        .sidebar-nav li a:focus {
            text-decoration: none;
        }

    .sidebar-nav>.sidebar-brand {
        height: 65px;
        font-size: 18px;
        line-height: 60px;
    }

        .sidebar-nav>.sidebar-brand a {
            color: #999999;
        }

        .sidebar-nav>.sidebar-brand a:hover {
            color: #fff;
            background: none;
        }

.overflow {

}

.graph-container {
    padding-bottom: 20px;
    border-bottom: 1px solid #353434;
    display: none;
}

    .graph-container img {
        width: 80%;
    }

    #wrapper.toggled .graph-container {
        display: block;
    }

/**
 | --------------------------------------------------------------------------
 | Right sidebar
 | --------------------------------------------------------------------------
 */
.user-holder-right-nav {
    padding: 10px 20px;
    color: #fff;
}

    .user-holder-right-nav .user-dp {
        width: 100%;
        padding: 10px 30px;
    }

    .user-holder-right-nav .dropdown-menu {
        left: 23px !important;
    }

.search-hoder-right-nav {
    margin-top: -30px;
}

    .search-hoder-right-nav hr {
        background-color: #504f4f;
    }

    .search-hoder-right-nav input {
        background: #4d4f51 url('../images/search_icon.png') no-repeat scroll right center;
        border-color: #4d4f51;
        color: #fff;
    }

        .search-hoder-right-nav input::placeholder {
            color: #a7bee4;
        }

.share-post-container {
    margin: -20px 5px 0px;
}

    .share-post-container .list-group-item {
        background-color: #191918;
        border: none;
        padding: .45rem 1.25rem;
        font-weight: bold;

    }

        .share-post-container .list-group-item a {
            color: #c7d7f1;
        }

        .share-post-container .list-group-item a:hover {
            color: #fff;
        }

/**
 | --------------------------------------------------------------------------
 | Firefox specific
 | --------------------------------------------------------------------------
 */
@-moz-document url-prefix() {
    #wrapper #sidebar-toggle {
        bottom: 62px;
    }
}
